$icon_hamburguer: "/assets/shared/icon-hamburger.svg" !default;
$icon_close: "/assets/shared/icon-close.svg" !default;
$default_value: 1rem !default;
$home_background_image_mobile : "/assets/home/background-home-mobile.jpg" !default;
$home_background_image_tablet : "/assets/home/background-home-tablet.jpg" !default;
$home_background_image_desktop : "/assets/home/background-home-desktop.jpg" !default;
$destination_background_image_mobile: "/assets/destination/background-destination-mobile.jpg" !default;
$destination_background_image_tablet: "/assets/destination/background-destination-tablet.jpg" !default;
$destination_background_image_desktop: "/assets/destination/background-destination-desktop.jpg" !default;
$primary_color: #1A1D27 !default;
$secondary_color: #D0D6F9 !default;
$text_color: #FFFFFF !default;
$height: 750px;
