@use "variables";
@use "functions";


#destination {
    background-image: url(variables.$destination_background_image_mobile);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;

    main {
        display: flex;
        flex-direction: column;
        color: variables.$text_color;
        padding-top: 80px;
        min-height: unset;

        hr {
            margin: 0;
            border: none;
            height: 1px;
            background-color: #383B4B;
        }

        #moon:checked~.container .moon-destin,
        #mars:checked~.container .mars-destin,
        #europa:checked~.container .europa-destin,
        #titan:checked~.container .titan-destin {
            display: flex;
            flex-direction: column;
        }

        input[type="radio"] {
            display: none;
        }

        .container {
            h1 {
                text-align: center;
                font-size: functions.multiplication(1);
                font-family: "Barlow Condensed";
            }

            ul {
                margin: 20px 0;
                gap: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Barlow Condensed";
                font-size: functions.multiplication(0.875);
                color: variables.$secondary_color;

                li {
                    &.active{
                        color: variables.$text_color;
                    }
                    &.active .underline {
                        position: relative;
                        width: 100%;
                        border-bottom: 3px solid variables.$text_color;
                        bottom: -5px;
                    }
                }

                label {
                    cursor: pointer;
                    margin: 0 functions.multiplication(1);
                }
            }

            .moon-destin,
            .mars-destin,
            .europa-destin,
            .titan-destin {
                display: none;
                margin: 30px;

                .col {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .content {
                    h2 {
                        font-family: "Bellefair";
                        text-align: center;
                        font-size: functions.multiplication(3.5);
                        margin: 0;
                    }

                    p {
                        font-family: 'Barlow';
                        font-size: functions.multiplication(0.9375);
                        text-align: center;
                        color: variables.$secondary_color;
                        line-height: 25px;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-transform: uppercase;

                        div {
                            margin-top: 40px;
                        }

                        h3 {
                            font-size: functions.multiplication(0.875);
                            color: variables.$secondary_color;
                            margin: 0 0 10px 0;
                            text-align: center;
                        }

                        p {
                            font-size: functions.multiplication(1.75);
                            margin: 0;
                            color: variables.$text_color;
                        }
                    }
                }
            }

            img {
                width: 50%;
            }
        }
    }
}

@media(min-width:767px) {
    #destination {
        background-image: url(variables.$destination_background_image_tablet);

        main {
            padding-top: 100px;

            .container {
                ul {
                    font-size: functions.multiplication(1);
                }

                h1 {
                    text-align: start;
                    margin-left: 30px;
                    font-size: functions.multiplication(1.25);
                }

                .moon-destin,
                .mars-destin,
                .europa-destin,
                .titan-destin {
                    display: none;
                    margin: 0 10%;

                    .col {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }

                    .content {
                        h2 {
                            font-size: functions.multiplication(5);
                        }

                        p {
                            font-size: functions.multiplication(1);
                            line-height: 28px;
                            margin-bottom: 40px;
                        }

                        .info {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            text-align: center;

                            h3 {
                                font-size: functions.multiplication(0.875);
                            }

                            p {
                                font-size: functions.multiplication(1.75);
                            }
                        }
                    }
                }

                img {
                    width: 70%;
                }
            }
        }
    }
}

@media(min-width:1200px) {
    #destination {
        background-image: url(variables.$destination_background_image_desktop);

        main {
            padding-top: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #moon:checked~.container .moon-destin,
            #mars:checked~.container .mars-destin,
            #europa:checked~.container .europa-destin,
            #titan:checked~.container .titan-destin {
                position: relative;
                display: flex;
                flex-direction: row;
            }

            .container {
                max-width: 1000px;

                h1 {
                    font-size: functions.multiplication(1.75);
                }

                ul {
                    position: absolute;
                    left: 50%;
                    top: -50px;

                    label {
                        margin: 0;
                    }
                }

                img {
                    padding-top: 10%;
                }

                .moon-destin,
                .mars-destin,
                .europa-destin,
                .titan-destin {
                    margin: 0;

                    .col {
                        align-items: center;
                        justify-content: center;
                    }

                    .content {
                        padding-right: 30%;

                        h2 {
                            text-align: start;
                        }

                        p {
                            text-align: start;
                        }

                        .info {
                            justify-content: flex-start;
                            gap: 100px;

                            h3 {
                                text-align: start;
                            }
                        }

                    }
                }
            }
        }
    }
}