@use "variables";
@use "functions";

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    color: variables.$text_color;
    

    #hamburguer_toggle {
        display: none;
    }

    .hamburguer {
        position: fixed;
        top: 33px;
        right: 25px;
        background: url(variables.$icon_hamburguer) no-repeat;
        width: 24px;
        height: 21px;
        transition: .3s ease-in-out;
        z-index: 2;
    }

    ul {
        display: none;
        position: fixed;
        right: 0;
        font-family: 'Barlow Condensed';
        font-size: functions.multiplication(1.25);
        line-height: 19px;
        letter-spacing: 2.7px;
        padding: functions.multiplication(5) functions.multiplication(6) 0 functions.multiplication(2);
        background-color: variables.$primary_color;
        opacity: 0;
        height: 100%;
        transition: .5s ease-in-out;
        z-index: 1;
        a {
            text-decoration: none;
            color: variables.$text_color;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            margin: functions.multiplication(2) 0;
        }
    }

    #hamburguer_toggle:checked~ul {
        display: block;
        opacity: 1;
    }

    #hamburguer_toggle:checked~.hamburguer {
        background: url(variables.$icon_close) no-repeat;
        transition: .3s ease-in-out;
    }

    @media(min-width:767px) {

        .hamburguer {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: functions.multiplication(1.1);
            opacity: 1;
            padding: 0 functions.multiplication(1.5);
            height: 80px;

            li {
                margin: 0 functions.multiplication(1);
                height: 100%;

                .underline {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-bottom: 3px solid transparent;
                }
                
                &.active .underline{
                    width: 100%;
                    border-bottom: 3px solid variables.$text_color;
                }
            
                &:hover .underline {
                    width: 100%;
                    border-bottom: 3px solid variables.$text_color;
                }

                span {
                    display: none;
                }
            }
        }
        #hamburguer_toggle:checked~ul {
            display: flex;
            opacity: 1;
        }
    }

    @media(min-width:1200px) {

        ul {
            width: 55%;
            margin: functions.multiplication(2) 0;
            padding: 0 functions.multiplication(6);

            li {
                margin: 0 auto;

                span {
                    display: inline;
                    opacity: 1;
                }
            }
        }

    }
}